.AppPage {
  height: 100vh;
  width: 100%;
  background-color: cadetblue;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.App-logo {
  height: 20vmin;
  pointer-events: none;
}